
__pycache__/
*.pyc
*.pyo
.env
venv/
.venv/

*.pth
*.pt
checkpoints/
runs/
logs/


backend/pre_image/*
backend/post_image/*


!backend/pre_image/.gitkeep
!backend/post_image/.gitkeep

data/
dataset/
xView2/
train/
val/
test/
*.png
*.jpg
*.jpeg
*.tif
*.json


node_modules/
dist/

.DS_Store
Thumbs.db
